version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: employee_db
      TZ: Asia/Jakarta
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend:
    build: .
    container_name: employee_backend
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      APP_PORT: 8080
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/employee_db?sslmode=disable
    ports:
      - "8081:8080"
